{% extends 'base.html' %}

{% block content %}

{% if not created %}

    
    <div style="margin-top: 50px;">
        <form action="{% url 'articles:aticle_create_view' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Article</button>

        </form>
    </div>
{% else %}
    <p>Your article created successfully</p>

    <a href="{% url 'articles:article' object.id %}">{{ object.title }} ---->> {{object.content}}</a>
{% endif %}

{% endblock %}